body {
  margin: 0;
  padding: 0;
  background: url(https://cutewallpaper.org/28/circuit-board-pc-wallpaper-black/2124712317.jpg)
    no-repeat;
  background-size: cover;
}

.box {
  width: 450px;
  outline-style: double;
  background: rgba(61, 61, 61, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: "Century Gothic", sans-serif;
}

.box-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.box h1 {
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 900;
}

span {
  color: #ffd466;
}

.box h5 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 530;
  margin: 20px 0px 20px;
}

.box p {
  text-align: justify;
  line-height: 1.3;
  font-weight: 510;
  margin: 30px 0px 30px;
}

ul {
  margin: 0;
  padding: 0;
}

.box li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.box li a {
  color: #2e2d2d;
  text-decoration: none;
  font-size: 30px;
  transition: all ease-in-out 250ms;
}

.box li a:hover {
  color: #636363;
}
